<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Tooltip</th>
      <th>Answerchoice</th>
      <th>Survey</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td><%= question.tooltip %></td>
        <td><%= question.AnswerChoice %></td>
        <td><%= question.survey %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
