<h1>Listing answer_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_types.each do |answer_type| %>
      <tr>
        <td><%= answer_type.name %></td>
        <td><%= link_to 'Show', answer_type %></td>
        <td><%= link_to 'Edit', edit_answer_type_path(answer_type) %></td>
        <td><%= link_to 'Destroy', answer_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer type', new_answer_type_path %>
